@import url('https://fonts.googleapis.com/css?family=Crimson+Pro|Elsie|Inconsolata&display=swap');
body {
  margin: 0px;
  background-color: #111111;
}

/* Menu & Title */

#menu {
  position: absolute;
  top: 3%;
  left: 2%;
  width: 200px;
  color: white;
  font-family: 'Inconsolata', monospace;
  text-align: right;
}

#menu .title {
  font-family: 'Elsie', cursive;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  margin: 20px 0px;
}

#main-title {
  color: #a54343;
}


/* Docs */

#docs-title {
  color: white;
}

#docs-link {
  color: #a54343;
}

#docs {
  margin: 0px;
  background-color: #a54343;
}

#content {
  width: 40%;
  margin: 3% auto;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  line-height: 1.5;
}

.nav_menu {
  display: block;
  margin-right: 0px;
  margin-left: auto;
}

.nav_menu_link {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #dbdbdb;
  margin-right: 0px;
  margin-left: auto;
  margin-bottom: 10px;
  transition: 0.3s;
  font-family: 'Inconsolata', monospace;
}

.nav_menu_link:hover {
  color: white;
}

.nav_menu_items {
  display: none;
  margin-bottom: 10px;
}

.nav_page {
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: #dbdbdb;
  transition: 0.3s;
}

.nav_page:hover {
  color: white;
}

.open {
  display: block;
}

.current_page::before {
    content: "→ ";
}

.doc-entry h2 {
  font-size: 16px;
}

.doc-entry h3 {
  font-size: 14px;
  margin-left: 20px;
}

.auth {
  font-size: 16px;
}

.doc-entry pre {
  font-size: 12px;
  margin-left: 20px;
  background-color: #1d1d1d;
  color: white;
  border-radius: 5px;
  padding: 2%;
}




/* Terminal */

#terminal {
  width: 40%;
  margin: 3% auto;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}

#messages {
  width: 96%;
  height: 500px;
  padding: 2%;
  font-size: 16px;
  background-color: #1d1d1d;
  overflow: scroll;
  -ms-overflow-style: none;
  border-radius: 5px;
  line-height: 20px;
}

#messages::-webkit-scrollbar {
  display: none;
}

#cmd-input {
  background-color: #1d1d1d;
  height: 24px;
  width: 96%;
  margin-top: 10px;
  padding: 1% 2% 1% 2%;
  color: white;
  border: white solid 0px;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  border-radius: 5px;
}

.msg {
  display: block;
}

.msg a {
  color: #b3b3b3;
  text-decoration: none;
}

.msg .linelink {
  padding-left: 10px;
}

.msg .action {
  color: #a54343;
}

*:focus {
  outline: none;
}


/* Editor */

#editor {
  display: none;
  width: 40%;
  margin: 3% auto;
  color: white;
  font-family: 'Inconsolata', monospace;
}

#editor-text {
  width: 96%;
  height: 500px;
  padding: 2%;
  font-size: 12px;
  color: white;
  background-color: #1d1d1d;
  overflow: auto;
  resize: none;
  -ms-overflow-style: none;
  border-radius: 5px;
  border: 0px;
  line-height: 20px;
  caret-color: white;
}

#editor-controls {
  background-color: #1d1d1d;
  height: 24px;
  width: 96%;
  margin-top: 10px;
  padding: 1% 2% 1% 2%;
  color: white;
  border: white solid 0px;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
}

#editor-controls button {
  height: 18px;
  float: right;
  border-radius: 5px;
  color: #cecece;
  background-color: #363636;
  border: 0px;
  margin-top: 3px;
  margin-left: 8px;
  padding: 2px 4px;
  font-family: 'Inconsolata', monospace;
  transition: 0.3s;
  cursor:pointer;
}

#editor-controls button:hover {
  background-color: #a54343;
}


/* Docs */


#content {
  
}