<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tartarus</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body id="docs">
    <div id="menu">
      <a id="docs-title" class="title" href="/">Tartarus</a>
      <a class="nav_menu_link" href="/docs/about.html">About</a>
      {{navbar}}
    </div>
    <div id="content">
      {{content}}
      YAML_START{
      <div class="doc-entry">
        <h1 class="doc-name">@name</h1>
        <p class="doc-desc">@desc</p>
        <span class="doc-auth"><b>Group Requirements:</b> @auth</span>
        <h2>Example Usage:</h2>
        <h3>Input:</h3>
        <pre class="doc-example-in">@example-in</pre>
        <h3>Output:</h3>
        <pre class="doc-example-out">@example-out</pre>
      </div>
      }YAML_END
    </div>
  </body>

  <script>
      /// Navigation Menu Stuff ///

      // Opens a navigation menu
      function open_nav_dir(elem) {
        elem.classList.add("open");
      }
    
      // Closes a navigation menu
      function close_nav_dir(elem) {
        elem.classList.remove("open");
        var sub_menus = elem.getElementsByClassName("nav_menu_items");
        for (var i = 0; i < sub_menus.length; i++) {
          sub_menus[i].classList.remove("open");
        }
      }
     
      // Gets all elements of class '.nav_menu_link'
      var nav_menu_links = document.getElementsByClassName("nav_menu_link");
      // Adds an event listener to toggle the 'open' class on click
      for (var i = 0; i < nav_menu_links.length; i++) {
        nav_menu_links[i].addEventListener("click", function() {
          var nav_dir = this.parentElement.querySelector(".nav_menu_items");
          if (nav_dir.classList.contains("open")) {
            close_nav_dir(nav_dir);
          } else {
            open_nav_dir(nav_dir);
          }
        });
      }
      </script>
</html>
